<div class="card">
    <div class="preview">
        <img src="../../images/visit-nagoya.png" alt="Alternate Text" />
        <div class="preview__content">

        </div>
    </div>
</div>
@code {

}
