
<div class="trip">
    <div class="head">
        <h1 class="title">
            Get inspired for your next trip
        </h1>
        <button class="button">
            View all
            <img src="../images/arrow.svg" alt="arrow" />
        </button>
    </div>
    <hr class="line" />
    <div class="content">
        <div class="fuji shadow">
            <h1 class="content-title">Mount Fuji</h1>
        </div>
        <div class="kyoto shadow">
            <h1 class="content-title">Kyoto</h1>
        </div>
        <div class="tokyo shadow">
            <h1 class="content-title">Tokyo</h1>
        </div>
        <div class="fiigata shadow">
            <h1 class="content-title">Fiigata</h1>
        </div>
        <div class="sapporo shadow">
            <h1 class="content-title">Sapporo</h1>
        </div>
    </div>
    <div class="bottom">
        <div class="bottom__left-side">
            <img src="../images/trip-left-side.png" alt="trip-left-side" />
            <div class="left-side__content">
                <h1 class="left-side__title">
                    Prefecture in Focus: Tottori
                </h1>
                <p class="left-side__text">
                    Jump off balcony, onto stranger's head. 
                    Chase ball of string hide when guests come over.
                    Being gorgeous with belly side up i could pee on 
                    this if i had the energy but under the bed, 
                    for attack the child, open the door.
                </p>
                <button class="button">
                    VIEW PREFECTURE
                    <img src="../images/arrow.svg" alt="arrow" />
                </button>
            </div>
        </div>
        <div class="bottom__right-side">
            <div class="right-side__content">
                <h1 class="right-side__title">
                    Prefecture in Focus: Tottori
                </h1>
                <p class="right-side__text">
                    Jump off balcony, onto stranger's head.
                    Chase ball of string hide when guests come over.
                    Being gorgeous with belly side up i could pee on
                    this if i had the energy but under the bed,
                    for attack the child, open the door.
                </p>
                <button class="button">
                    VIEW NEIGHBORHOOD
                    <img src="../images/arrow.svg" alt="arrow" />
                </button>
            </div>
            <img src="../images/trip-right-side.png" alt="trip-right-side" />
        </div>
    </div>
</div>

@code {

}
