<div class="footer">
    <div class="container">
        <img 
            src="../images/Logo.svg" 
            alt="Alternate Text" 
            class="logo"
        />
        <div class="content">
            <div class="footer_nav">
                <h1 class="footer_nav-title">Company</h1>
                <a class="footer_nav-link" href="#">About</a>
                <a class="footer_nav-link" href="#">Team</a>
                <a class="footer_nav-link" href="#">Careers</a>
                <a class="footer_nav-link" href="#">Privacy Policy</a>
            </div>
            <div class="footer_nav">
                <h1 class="footer_nav-title">Locations</h1>
                <a class="footer_nav-link" href="#">Tokyo</a>
                <a class="footer_nav-link" href="#">Kyoto</a>
                <a class="footer_nav-link" href="#">Osaka</a>
                <a class="footer_nav-link" href="#">Hokkaido</a>
            </div>
            <div class="footer_nav">
                <h1 class="footer_nav-title">Social Media</h1>
                <a class="footer_nav-link" href="#">Facebook</a>
                <a class="footer_nav-link" href="#">Twitter</a>
                <a class="footer_nav-link" href="#">Instagram</a>
                <a class="footer_nav-link" href="#">Youtube</a>
            </div>
        </div>
    </div>
</div>
@code {

}
