
<div class="preview">
    <h1 class="title">
        Discover Amazing places in Japan
    </h1>
    <p class="text">
        Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. 
        Being gorgeous with belly side up i could pee on this if i had the energy 
        but under the bed, for attack the child, open the door,
    </p>
    <div class="bottom">
        <CustomInput InputPlaceholder="What would you like to do?" />
        <CustomInput InputPlaceholder="Where would you like to go?" />
        <CustomButton ButtonName="Search" />
    </div>
</div>

@code {
  

}