
<div class="trip">
    <div class="head">
        <h1 class="title">
            Get inspired for your next trip
        </h1>
        <button class="button">
            View all
            <img src="../images/arrow.svg" alt="arrow" />
        </button>
    </div>
    <hr class="line" />
    <div class="content">
        <div class="fuji shadow">
            <h1 class="content-title">Mount Fuji</h1>
        </div>
        <div class="kyoto shadow">
            <h1 class="content-title">Kyoto</h1>
        </div>
        <div class="tokyo shadow">
            <h1 class="content-title">Tokyo</h1>
        </div>
        <div class="fiigata shadow">
            <h1 class="content-title">Fiigata</h1>
        </div>
        <div class="sapporo shadow">
            <h1 class="content-title">Sapporo</h1>
        </div>
    </div>
</div>

@code {

}
