
<div class="trip">
    <div class="head">
        <h1 class="title">
            Get inspired for your next trip
        </h1>
        <button class="button">
            View all
            <img src="../images/arrow.svg" alt="arrow" />
        </button>
    </div>
    <hr class="line" />
    <div class="content">
        <div class="dammy1"></div>
        <div class="dammy2"></div>
        <div class="dammy3"></div>
        <div class="dammy4"></div>
        <div class="dammy5"></div>
    </div>
</div>

@code {

}
