.trip {
    max-width: 1260px;
    width: 100%;
    min-height: 735px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.title {
    font-family: "Lato";
    font-weight: 400;
    font-size: 35px;
    line-height: 44px;
    color: #102746;
    
}

.button {
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #006DFE;
    border: none;
    background-color: white;
    display: flex;
    gap: 25px;
    align-items: center;
}

.line {
    width: 250px;
    height: 4px;
    background-color: #006DFE;
    margin-top: 10px;
    margin-bottom: 35px;
}

.content {
    width: 1260px;
    height: 650px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}


.fuji {
    width: 620px;
    height: 320px;
    grid-area: 1 / 1 / 2 / 4;
    background-image: url(../../images/fuji.png);
    padding: 30px;
    display: flex;
    align-items: end;
    position: relative;
    z-index: 1;
}



.kyoto {
    grid-area: 1 / 4 / 2 / 7;
    background-image: url(../../images/kyoto.png);
    padding: 30px;
    display: flex;
    align-items: end;
    position: relative;
    z-index: 1;
}
.tokyo {
    grid-area: 2 / 1 / 3 / 3;
    background-image: url(../../images/tokyo.png);
    padding: 30px;
    display: flex;
    align-items: end;
    position: relative;
    z-index: 1;
}
.fiigata {
    grid-area: 2 / 3 / 3 / 5;
    background-image: url(../../images/niigata.png);
    padding: 30px;
    display: flex;
    align-items: end;
    position: relative;
    z-index: 1;
}
.sapporo {
    grid-area: 2 / 5 / 3 / 7;
    background-image: url(../../images/sapporo.png);
    padding: 30px;
    display: flex;
    align-items: end;
    position: relative;
    z-index: 1;
}


.shadow:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
}

.content-title {
    font-family: "Lato";
    font-weight: 600;
    font-size: 50px;
    line-height: 55px;
    color: white;
    position: relative;
    z-index: 99;
}