.main {
    max-width: 1440px;
    width: 100%;
    min-height: 980px;
    position: relative;
}

.main ::deep .benefits {
    margin: 0 auto;
    position: absolute;
    top: 740px;
    left: 50%;
    transform: translateX(-50%);
}
.main ::deep .preview {
    position: relative;
}
