<div class="navigation">
    <a href="#">
        Articles
    </a>
    <a href="#">
        Locations
    </a>
    <a href="#">
        Videos
    </a>
    <a href="#">
        Sign in
    </a>
</div>

@code {

}